<%# app/views/bookmarks/index.html.erb -%>
<%-
  # The "Bookmarks" page renders each document type according to its own
  # presenter.
  #
  # The structure of this template aligns closely with:
  # @see app/views/saved_searches/index.html.erb
  # @see app/views/search_history/index.html.erb

  docs = document_list ||= @response&.documents

  title      ||= t('blacklight.bookmarks.title')
  width      ||= 'col-md-12'
  list_title ||= t('blacklight.bookmarks.list_title')

  # Page name for browser history and browser tabs.
  content_for(:page_title) {
    t('blacklight.bookmarks.page_title', default: title)
  }

  error =
    if current_or_guest_user.blank?
      t('blacklight.bookmarks.need_login')
    elsif docs.blank?
      t('blacklight.bookmarks.no_bookmarks')
    end

  disabled_tools = { show: %i(bookmark email sms citation) }
  template_opts  = { document_list: docs, disabled_tools: disabled_tools }

-%>
<div id="content" class="<%= width -%>">
  <h1 class='page-heading'><%= title %></h1>
  <%- if error -%>
    <h2 class='section-heading'><%= error %></h2>
  <%- else -%>
    <%= render 'sort_and_per_page' %>
    <%# render 'tools', template_opts %>
    <%= render 'marc_tools', template_opts %>
    <h2 class='section-heading sr-only'><%= list_title %></h2>
    <%= render 'document_list', template_opts %>
    <%= render 'results_pagination' %>
  <%- end -%>
</div>
