<%# app/views/saved_searches/index.html.erb -%>
<%-
  # The "Saved Searches" page renders each document type according to its own
  # presenter.
  #
  # The structure of this template aligns closely with:
  # @see app/views/bookmarks/index.html.erb
  # @see app/views/search_history/index.html.erb

  searches ||= @searches

  title ||= t('blacklight.saved_searches.title')
  width ||= 'col-md-9'

  # Page name for browser history and browser tabs.
  content_for(:page_title) {
    t('blacklight.saved_searches.page_title', default: title)
  }

  error =
    if current_or_guest_user.blank?
      t('blacklight.saved_searches.need_login')
    elsif searches.blank?
      t('blacklight.saved_searches.no_searches')
    end

  list_title = clear_list_button = delete_label = nil
  unless error
    list_title         = t('blacklight.saved_searches.list_title')
    clear_list_title   = t('blacklight.saved_searches.clear.action_title')
    clear_confirmation = t('blacklight.saved_searches.clear.action_confirm')
    clear_list_path    = blacklight.clear_saved_searches_path
    clear_list_button  =
      link_to(
        clear_list_title,
        clear_list_path,
        method: :delete,
        data:   { confirm: clear_confirmation },
        class:  'btn btn-danger pull-right'
      )
    delete_label = t('blacklight.saved_searches.delete')
  end
-%>
<div id="content" class="<%= width -%>">

  <h2 class='page-heading'><%= title %></h2>

  <%- if error -%>

    <h3 class='section-heading'><%= error %></h3>

  <%- else -%>

    <%= clear_list_button %>
    <h3 class='section-heading'><%= list_title %></h3>

    <table class="table table-striped search_history">
      <%- index  = 0  -%>
      <%- ctrlrs = {} -%>
      <%- searches.each do |search| -%>
        <%- query = search.sorted_query -%>
        <%- type = lens_key_for(query[:controller]) -%>
        <%- ctrlrs[type] ||= lens_for(type).instance(@response, request) -%>
        <%- index += 1 -%>
        <tr id="<%= "document_#{index}" -%>">
          <td class="search-type">
            <%= search_type_label(type) %>
          </td>
          <td class="query">
            <%= ctrlrs[type].instance_exec(query) do |q| -%>
              <%- link_params = search_state.reset(q).to_hash -%>
              <%- view_context.link_to_previous_search(link_params) -%>
            <%- end -%>
          </td>
          <td class="actions">
            <%- label = delete_label -%>
            <%- path  = blacklight.forget_search_path(search.id) -%>
            <%- opt   = { class: 'btn btn-danger' } -%>
            <%= button_to(label, path, opt) %>
          </td>
        </tr>
      <%- end -%>
    </table>

  <%- end -%>

</div>
