<%# app/views/shared/_footer.html.erb -%>
<%-
  # General page footer.

  link_opts      ||= {}
  info_line      ||= []
  item_separator ||= ' | '
  layout         ||= __FILE__
  i18n_scope     ||= 'blacklight.footer_links'

  # The caller may provide additional CSS classes via the :css_class option.
  css_class =
    css_classes(css_class ||= nil) { |classes|
      classes << 'navbar navbar-inverse navbar-static-top'
    }

  feedback_label = t('blacklight.feedback', application: application_name)

  # General information links.
  info_line << {
    feedback_label => '/feedback',
    library_staff:    URL::STAFF_DIRECTORY,
    organization:     URL::UVA_HOME,
    organization_it:  URL::ITS_HOME,
  }

  # Library information links.
  info_line << {
    library_search:   URL::SITE_SEARCH,
    library_hours:    URL::HOURS,
    library_map:      URL::MAP,
    library_policies: URL::POLICIES,
    library_news:     URL::PRESS,
    library_jobs:     URL::JOBS,
  }

  # Virgo information links.
  info_line << {
    info_chat:        URL::ASK_A_LIBRARIAN,
    info_terms:       '/terms_of_use',
    info_opt_out:     URL::PIWIK_OPT_OUT,
  }

  # Transform hashes into strings with item links separated by pipes.
  info_line.map! { |hash|
    hash.map { |label, url|
      label = raw(t("#{i18n_scope}.#{label}")) if label.is_a?(Symbol)
      outlink(label, url, link_opts)
    }.join(item_separator).html_safe
  }

  # Final line - copyright information.
  copyright = [
    outlink('©', URL::COPYRIGHT, link_opts),
    "#{Date.current.year} by the Rector and Visitors of the",
    outlink('University of Virginia', URL::UVA_HOME, link_opts)
  ].join(' ').html_safe # TODO: I18n
  virgo_version =
    content_tag(:span, "#{BUILD_VERSION}", class: 'version-number')
  info_line << [copyright, virgo_version].join(item_separator).html_safe

  # Other links.
  fed_logo =
    outlink(URL::FINDING_GOV_INFO, link_opts) {
      image_tag('federal_lib_logo.png', alt: 'Federal Library Depository logo')
    }
  government_documents =
    outlink(URL::FINDING_GOV_INFO, link_opts) {
      t('blacklight.footer_links.gov_doc')
    }
  government_documents = [
    raw(t('blacklight.footer_links.gov_doc_1', link: government_documents)),
    raw('<br/>'),
    raw(t('blacklight.footer_links.gov_doc_2')),
  ].join.html_safe

  # Hidden embedded values for page debugging.
  server_info = {
    'server-host'   => host_server,
    'server-path'   => request.path,
    'server-query'  => '?' << CGI.unescape(request.query_string),
    'server-layout' => File.basename(layout),
  }.map { |id, value|
    content_tag(:div, value, id: id)
  }.join(' ').html_safe
  debugging = session[:debug_session] || Rails.env.development?

-%>

<footer id="footer-navbar" class="<%= css_class -%>" role="contentinfo">

  <div class="container server-info hidden">
    <%= server_info %>
  </div>

  <div class="container footer-content col-sm-12">

    <%# === Contact information === -%>
    <div class="address col-sm-5">
      <%= VCard::ORGANIZATION %><br/>
      <%= VCard::ADDRESS %><br/>
      ph: <%= VCard::TELEPHONE -%>,
      fax: <%= VCard::FAX -%>,
      <a href="mailto:<%= VCard::EMAIL %>"><%= VCard::EMAIL %></a>
    </div>

    <%# === Informational links === -%>
    <div class="external-links col-sm-7">
      <%- info_line.each do |line| -%>
        <%= line %><br/>
      <%- end -%>
    </div>

    <%# === Government documents logo and text === -%>
    <div class="federal-lib-logo col-sm-1"><%= fed_logo %></div>
    <div class="federal-lib-text"><%= government_documents -%></div>

  </div>

</footer>

<%= render 'shared/debug/session' if debugging -%>
