<%# app/views/shared/_header_navbar.html.erb -%>
<%-
  # Page header navbar.

  logo ||= link_to(h(application_name), root_path)
  lens ||= current_lens_key
  lens &&=
    if request.path.start_with?("/#{lens}")
      label = h(lens.to_s.capitalize)
      path  = send("search_#{lens}_path")
      ' &ndash; '.html_safe << link_to(label, path, class: 'navbar-lens')
    end

  # The caller may provide additional CSS classes via the :header_css or
  # :search_bar_css options.
  header_css =
    css_classes(header_css ||= nil) { |classes|
      classes << 'navbar navbar-expand-md navbar-dark bg-dark topbar'
    }
  search_bar_css =
    css_classes(search_bar_css ||= nil) { |classes|
      classes << 'navbar navbar-expand-md navbar-light bg-light navbar-search'
      classes << 'invisible' if params[:controller].to_s.include?('advanced')
    }

  toggle_id   = 'user-util-collapse'
  toggle_opts = { label: 'Toggle navigation', target: toggle_id }

-%>

<%# Application header -%>
<nav class="<%= header_css -%>" role="navigation">
  <div class="<%= container_classes -%>">

    <%# Logo icon and current lens -%>
    <span class="mb-0 navbar-brand"><%= logo -%><%= lens -%></span>

    <%# "Hamburger" menu (visible for mobile) -%>
    <%= render 'shared/navbar_toggle', toggle_opts %>

    <%# Navbar menu -%>
    <div id="<%= toggle_id -%>" class="collapse navbar-collapse justify-content-md-end">
      <%= render 'shared/user_util_links' %>
    </div>

  </div>
</nav>

<%# Search bar -%>
<div class="<%= search_bar_css -%>" role="navigation">
  <div class="<%= container_classes -%>">
    <%= render_search_bar %>
  </div>
</div>
