<%# app/views/shared/_header_navbar.html.erb -%>
<%-
  # Page header navbar.

  # The caller may provide additional CSS classes via the :header_css or
  # :search_bar_css options.
  header_css =
    css_classes(header_css ||= nil) { |classes|
      classes << 'navbar navbar-expand-md navbar-dark bg-dark topbar'
    }

  logo ||= link_to(h(application_name), root_path, class: 'navbar-logo')
  lens ||= current_lens_key
  lens &&=
    if request.path.start_with?("/#{lens}")
      label = h(lens.to_s.capitalize)
      path  = send("search_#{lens}_path")
      ' &ndash; '.html_safe << link_to(label, path, class: 'navbar-lens')
    end

  menu_id      = 'user-util-collapse'
  menu_css     = 'collapse navbar-collapse justify-content-md-end'

  toggle_label = t('blacklight.header_links.toggle')
  toggle_opts  = { label: toggle_label, target: menu_id }

  # The caller may provide additional CSS classes for the search bar via
  # :search_bar_css options.
  search_bar_css =
    css_classes(search_bar_css ||= nil) { |classes|
      classes << 'navbar navbar-expand-md navbar-light bg-light navbar-search'
    }

-%>

<%# Application header -%>
<nav class="<%= header_css -%>" role="navigation">
  <div class="<%= container_classes -%>">

    <%# Logo icon and current lens -%>
    <span class="navbar-brand"><%= logo -%><%= lens -%></span>

    <%# "Hamburger" menu (visible for mobile) -%>
    <%= render 'shared/navbar_toggle', toggle_opts %>

    <%# Navbar menu -%>
    <div id="<%= menu_id -%>" class="<%= menu_css -%>">
      <%= render 'shared/user_util_links' %>
    </div>

  </div>
</nav>

<%# Search bar -%>
<div class="<%= search_bar_css -%>" role="navigation">
  <div class="<%= container_classes -%>">
    <%= render_search_bar %>
  </div>
</div>
