<%# app/views/catalog/_citation.html.erb -%>
<%-
  docs = documents ||= nil
  return unless docs.present?
  mla = t('blacklight.citation.mla',     default: 'MLA')
  apa = t('blacklight.citation.apa',     default: 'APA')
  cms = t('blacklight.citation.chicago', default: 'CMOS')
  mla = content_tag(:h4, mla.html_safe, class: 'citation')
  apa = content_tag(:h4, apa.html_safe, class: 'citation')
  cms = content_tag(:h4, cms.html_safe, class: 'citation')
-%>
<%- docs.each do |doc| -%>
  <h3 class="citation-title"><%= document_title(doc, format: true) -%></h3>
  <%= mla %><%= doc.export_as_mla_citation_txt.html_safe %><br/><br/>
  <%= apa %><%= doc.export_as_apa_citation_txt.html_safe %><br/><br/>
  <%= cms %><%= doc.export_as_chicago_citation_txt.html_safe %><br/><br/>
<%- end -%>
