<%# app/views/catalog/_facet_pagination.html.erb -%>
<%-
  # Facet popup pagination.

  ss  = search_state.to_h
  opt = { data: { ajax_modal: 'preserve' } }

  prev_label = raw(t('views.pagination.previous'))
  next_label = raw(t('views.pagination.next'))
  prev_opt = next_opt =
    opt.merge(
      params:     ss,
      param_name: blacklight_config.facet_paginator_class.request_keys[:page],
      class:      'btn btn-link',
    )

  index_css = 'az btn btn-default'
  count_css = 'numeric btn btn-default'

  current_page = @pagination.current_page
  current_sort = @pagination.sort

  index_sort_label = t('blacklight.search.facets.sort.index')
  count_sort_label = t('blacklight.search.facets.sort.count')
  index_sort_path  = @pagination.params_for_resort_url('index', ss)
  count_sort_path  = @pagination.params_for_resort_url('count', ss)
  index_sort_opt   = opt.merge(class: "sort_change #{index_css}")
  count_sort_opt   = opt.merge(class: "sort_change #{count_css}")

-%>

<div class="prev_next_links btn-group">
  <%= link_to_previous_page(@pagination, prev_label, prev_opt) do -%>
    <span class="disabled btn btn-disabled"><%= prev_label %></span>
  <%- end -%>

  <%= link_to_next_page(@pagination, next_label, next_opt) do -%>
    <span class="disabled btn btn-disabled"><%= next_label %></span>
  <%- end -%>
</div>

<div class="current-page btn btn-group">
  <%- if current_page > 1 -%>
    [&thinsp;<%= current_page -%>&thinsp;]
  <%- end -%>
</div>

<div class="sort_options btn-group">
  <%- if current_sort == 'index' -%>

    <span class="active <%= index_css -%>"><%= index_sort_label %></span>
    <%= link_to(count_sort_label, count_sort_path, count_sort_opt) %>

  <%- elsif current_sort == 'count' -%>

    <%= link_to(index_sort_label, index_sort_path, index_sort_opt) %>
    <span class="active <%= count_css -%>"><%= count_sort_label %></span>

  <%- end -%>
</div>
