<%# app/views/catalog/_search_results.html.erb -%>
<%-
  # The current page of search results.
  # NOTE: Modified to make room for lens nav bar.

  # Page name for browser history and browser tabs.
  content_for(:page_title) {
    t('blacklight.search.page_title.title',
      constraints:      render_search_to_page_title(params),
      application_name: application_name
    )
  }

  # Additional tags for <head>.
  content_for(:head) {
    [].tap { |lines|
      lines << render_opensearch_response_metadata
      lines << rss_feed_link_tag
      lines << atom_feed_link_tag
      lines << json_api_link_tag
    }.compact.join("\n").html_safe
  }

  # Screen-reader-only heading.
  heading ||= t('blacklight.search.search_results_header')
  heading = content_tag(:span, heading, class: 'sr-only top-content-title')

-%>

<%= render 'shared/home_heading', heading: heading %>
<%= render 'search_header' %>

<h2 class="sr-only"><%= t('blacklight.search.search_results') %></h2>

<%- if @response.blank? -%>
  <%= render 'zero_results' %>
<%- elsif render_grouped_response? -%>
  <%= render_grouped_document_index %>
<%- else -%>
  <%= render_document_index %>
<%- end -%>

<%= render 'results_pagination' %>
