<%# app/views/catalog/_show_main_content.html.erb -%>
<%-
  # Container for document contents on the item details show page.
  #
  # Compare with:
  # @see app/views/catalog/_document.html.erb

  doc = document ||= @document
  return unless doc

  counter = document_counter ||= -1
  data     ||= nil
  itemtype ||= %Q(itemscope itemtype="#{doc.itemtype}").html_safe

  # Page name for browser history and browser tabs.
  content_for(:page_title) {
    t('blacklight.search.show.title',
      document_title:   document_title(doc),
      application_name: application_name
    )
  }

  # Additional tags for <head>.
  content_for(:head) { render_link_rel_alternates(doc) }

  # Page-unique identifier for the element associated with this document.
  doc_id ||= document_id(doc)

  # The caller may provide additional CSS classes via the :css_class option.
  css_class =
    css_classes(css_class ||= nil) { |classes|
      classes << 'document'
      classes << render_document_class(doc)
    }

  # COinS, for Zotero among others.
  # This document_partial_name(@document) business is not quite right,
  # but has been there for a while.
  coins = doc.export_as_openurl_ctx_kev(document_partial_name(doc))
  coins &&= content_tag(:span, '', class: 'Z3988', title: h(coins))

  partials = blacklight_config_for(doc).view_config(:show).partials
  locals   = { document_counter: counter }
-%>

<%= render 'previous_next_doc', anchor: doc_id %>

<div id="document" class="<%= css_class -%>" <%= data %> <%= itemtype %>>
  <div id="<%= doc_id -%>">
    <%= coins %>
    <%= render_document_partials(doc, partials, locals) %>
  </div>
</div>
