<%# app/views/catalog/_sms_form.html.erb -%>
<%-
  documents ||= Array.wrap(@document || @documents || @document_list)

  form_path = url_for(controller: controller_name, action: 'sms')
  form_opt  = {
    method: :post,
    id:     'sms_form',
    class:  'modal_form',
    data:   { blacklight_modal: 'trigger' }
  }

  carrier_prompt  = t('blacklight.sms.form.carrier_prompt')
  carrier_options = sms_mappings.to_a.sort.unshift([carrier_prompt, ''])
  carrier_menu    = options_for_select(carrier_options, params[:carrier])

  hidden_fields = documents.map { |doc| ['id[]', doc.id] }
  hidden_fields.map! { |k, v| hidden_field_tag(k, v, id: nil) }
  hidden_fields = safe_join(hidden_fields, "\n")

  submit_label = t('blacklight.sms.form.submit')

  if request.get?
    flash.clear
  elsif flash[:error].blank?
    form_opt[:'data-backlight-modal'] = 'close'
  end

-%>
<%= form_tag(form_path, form_opt) do %>

  <div class="modal-body">

    <%= render 'shared/flash_msg' %>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="to">
        <%= t('blacklight.sms.form.to') %>
      </label>
      <div class="col-sm-10">
        <%= telephone_field_tag :to, params[:to], class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-sm-2" for="carrier">
        <%= t('blacklight.sms.form.carrier') %>
      </label>
      <div class="col-sm-10">
        <%= select_tag :carrier, carrier_menu, class: 'form-control' %><br/>
      </div>
    </div>

    <%= hidden_fields %>

  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"><%= submit_label %></button>
  </div>

<%- end -%>
