<%# app/views/catalog/facet.html.erb -%>
<%-
  # Facet browser modal dialog.

  title ||= facet_field_label(@facet.key)

  pagination = render('facet_pagination')
  az_index =
    if @facet.index_range && @display_facet.index?
      render('facet_index_navigation')
    end
-%>
<div class="facet-modal">

  <div class="facet-pagination top">
    <%= pagination %>
  </div>

  <div class="modal-header">
    <h1 class="modal-title"><%= title -%></h1>
    <%= modal_close %>
  </div>

  <div class="modal-body">
    <%= az_index %>
    <div class="facet-extended-list">
      <%= render_facet_limit(@display_facet, layout: false) %>
    </div>
  </div>

  <div class="modal-footer">
    <div class="facet-pagination bottom">
      <%= pagination %>
    </div>
  </div>

</div>
