<%# app/views/about/index.html.erb -%>
<%-
  # About page.
  title ||= t('blacklight.about.title')
  page_title ||=
    t('blacklight.about.page_title', app: application_name, default: title)
-%>
<%= render 'about/common', page_title: page_title %>

<div id="content">

  <h1 class='page-heading'><%= title %></h1>
  <p></p>
  <p><%= DateTime.current %></p>
  <p><span class="about-item">Version</span> <%= 'TODO' %></p>

  <%= render 'about/session' %>
  <%= render 'about/internal' %>

</div>
