<%# app/views/about/index.html.erb -%>
<%-
  # About page.
  title ||= t('blacklight.about.title')
  page_title ||=
    t('blacklight.about.page_title', app: application_name, default: title)
  version ||= 'TODO' # TODO: app version

-%>
<%= render 'about/common/page', title: title, page_title: page_title %>

<div id="content">

  <h1 class='page-heading'><%= title %></h1>
  <p></p>
  <p><%= DateTime.current %></p>
  <p><span class="about-item">Version</span> <%= version %></p>

  <%= render 'about/index/session' %>
  <%= render 'about/index/internal' %>

</div>
