<%# app/views/about/solr.html.erb -%>
<%-
  # Administrator-only Solr information.
  return unless authorized?

  i18n_scope  ||= 'blacklight.about.solr'
  i18n_scope   += '.stats' if params[:action] == 'solr_stats'
  title       ||= t(:title, scope: i18n_scope, default: 'Solr Info')
  page_title  ||= title
  description ||= t(
    :description,
    scope:    i18n_scope,
    not_this: not_this_lens,
    not_any:  not_any_lens,
    default:  ''
  ).html_safe

-%>
<%= render 'about/common', page_title: page_title %>

<h1 class="about-topic-title"><%= title %></h1>
<div class="about-topic-description"><%= description %></div>

<%- if params[:action] == 'solr_stats' %>

  <%= render 'about/solr/stats' %>

<%- else -%>

  <h2 class="about-section inline">
    <%= t('blacklight.about.solr.fields.label') %>
  </h2>
  <%= lens_select_menu(params[:lens]) %>
  <%= render 'about/solr/fields' %>

  <h2 class="about-section">
    <%= t('blacklight.about.solr.info.label') %>
  </h2>
  <%= render 'about/solr/info' %>

<%- end -%>
