<%# app/views/layouts/application.html.erb -%>
<%-
  # Main application layout

  meta_options = { 'data-turbolinks-track': '' }

-%>
<!DOCTYPE html>
<html>
  <head>
    <title>Virgo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', meta_options %>
    <%= javascript_include_tag 'application', meta_options %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
