<%# app/views/layouts/application.html.erb -%>
<%-
  # This is the default layout (originally blacklight.html.erb).

  print_view ||= (params[:view] == 'print')

-%>
<!DOCTYPE html>
<html lang="<%= I18n.config.locale -%>" class="no-js">
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Internet Explorer use the highest version available -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile IE allows ClearType technology for smoothing fonts -->
  <!--[if IEMobile]>
    <meta http-equiv="cleartype" content="on">
  <![endif]-->

  <title><%= render_page_title %></title>
  <%= opensearch_description_tag %>
  <%= favicon_link_tag %>
  <%= external_stylesheets %>
  <%= external_scripts %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'print' if print_view %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>

</head>
<body class="<%= render_body_class -%>">

  <%= render 'shared/ajax_modal' %>
  <%= render 'shared/header_navbar' %>

  <div id="main-container" class="<%= container_classes -%>">
    <h1 class="sr-only application-heading"><%= application_name %></h1>
    <%= render '/flash_msg', layout: 'shared/flash_messages' %>
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/footer' %>

</body>
</html>
